body
{
    background:#CCC;
}

#Header a:hover{
    color: #fff;
}

#bg-image{
    background: url("../Images/bg-image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

.navbar-inverse .navbar-toggle:hover{
    background-color: rgb(5, 5, 5);
}

.navbar-inverse{
    background: rgb(25, 92, 92);
  }

  #portfolio .container-header{
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }

#about{
    margin-top: -200px;
}
#about .fab{
    color: #fff;
}
#about span{
    padding: 10px 20px 10px 20px;
}
#about hr{
    border-width: 2px;
    margin-top: 06px;
}

#portfolio .container {
    margin-top: 20px;
}
#portfolio hr{
    border-width: 2px;
    margin-top: 06px;
}

#contact span{
    padding: 10px 20px 10px 20px; 
}
#contact hr{
    border-width: 2px;
    margin-top: 06;
}
.card{
    margin-top: 40px;
}

#sticky-footer{
    bottom: 0;
    width: 100%;
    position: absolute;
}

.footer-above h3{
    color: #fff;
}

.footer-above p{
    color: #fff;
}
.footer-above a{
    color: #fff;
}

footer .footer-above{
    padding-top:50px;
    background:#0c0e0f;
    border-bottom:3px solid #fff;
  }
  
  footer .footer-col{
    margin-bottom:50px;
  }
  footer .footer-below a{
    color: #fff;
  }
  
  footer .footer-below{
    padding:25px 0;
    background-color: darkcyan;
  }
